<h1>New Tap</h1>

<%= form_with(model: @tap, local: true) do |form| %>
  <% if @tap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tap.errors.count, "error") %> prohibited this tap from being saved:</h2>
      <ul>
        <% @tap.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Create Tap" %>
  </div>
<% end %>

<%= link_to 'Back to Taps', taps_path %>